<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.ecs.guacamole.mapper.ShortMessageMapper">

    <insert id="sendSmsMessage">
        INSERT INTO TI_O_SMS(SMS_NOTICE_ID,
                             PARTITION_ID,
                             EPARCHY_CODE,
                             BRAND_CODE,
                             IN_MODE_CODE,
                             SMS_NET_TAG,
                             CHAN_ID,
                             SEND_OBJECT_CODE,
                             SEND_TIME_CODE,
                             SEND_COUNT_CODE,
                             RECV_OBJECT_TYPE,
                             RECV_OBJECT,
                             RECV_ID,
                             SMS_TYPE_CODE,
                             SMS_KIND_CODE,
                             NOTICE_CONTENT_TYPE,
                             NOTICE_CONTENT,
                             REFERED_COUNT,
                             FORCE_REFER_COUNT,
                             FORCE_OBJECT,
                             SMS_PRIORITY,
                             REFER_STAFF_ID,
                             DEAL_STATE,
                             DEAL_TIME,
                             REFER_TIME,
                             MONTH,
                             DAY)
        VALUES (to_char(sysdate, 'yyyyMMDD') || SEQ_NOTICENO_ID.nextval,
                mod(to_number(to_char(sysdate, 'yyyyMMDD') || SEQ_NOTICENO_ID.nextval), 1000),
                #{EPARCHY_CODE},
                #{BRAND_CODE},
                '2',
                '0',
                #{CHAN_ID},
                '1',
                '1',
                '1',
                '00',
                #{RECV_OBJECT},
                '0',
                '20',
                '02',
                '1',
                #{NOTICE_CONTENT},
                '0',
                '1',
                '10086',
                '1000',
                'ITFSM000',
                '15',
                sysdate,
                sysdate,
                TO_NUMBER(TO_CHAR(SYSDATE, 'MM')),
                TO_NUMBER(TO_CHAR(SYSDATE, 'DD')))
    </insert>
</mapper>